{% assign title = page.title | append: " | " | append: site.title %}
{% assign description = page.description | default: site.description %}
{% assign url = page.url | absolute_url %}
{% assign image = "/assets/images/og" | append: page.id | append: ".png" | absolute_url %}
{% assign twitter = "@" | append: site.author.twitter %}

<meta charset="UTF-8">
<meta property="og:locale" content="en_US">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title }}</title>

<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ url }}">
<meta name="author" content="{{ site.author.name }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:site_name" content="{{ site.title }}">
{% if page.layout == "post" %}
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% else %}
<meta property="og:type" content="website">
{% endif %}

<meta name="twitter:creator" content="{{ twitter }}">
<meta name="twitter:site" content="{{ twitter }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image }}">
<meta name="twitter:card" content="summary_large_image">

<link rel="icon" type="image/ico" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
{% feed_meta %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {% if page.layout == "post" %}
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "url": {{ url | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.url | jsonify }}
  }
  {% else %}
  "@type": "Person",
  "name": {{ site.author.name | jsonify }},
  "url": {{ site.url | jsonify }},
  "sameAs": [
    "https://twitter.com/{{ site.author.twitter }}",
    "https://github.com/{{ site.author.github }}",
    "https://www.linkedin.com/in/{{ site.author.linkedin }}"
  ]
  {% endif %}
}
</script>
