---
layout: container
comments: true
---

<div class="xl:relative">
  <div class="mx-auto max-w-2xl">
    <a href="{% if page.back %}{{ page.back }}{% endif %}" title="Go back to articles" aria-label="Go back to articles" class="hidden lg:flex group mb-8 h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-gray-800/5 ring-1 ring-gray-900/5 transition lg:absolute lg:-left-5 lg:mb-0 lg:mt-2 xl:top-2 xl:left-0 xl:mt-0">
      <!-- Add this debug line temporarily -->
      <!-- Debug: page.back = {{ page.back }} -->
      {% svg /assets/icons/micro/arrow_left.svg class="h-3 w-3 stroke-gray-500 transition group-hover:stroke-gray-700" %}
    </a>
    <article id="content" class="scroll-mt-8">
      <header class="flex flex-col">
        <h1 class="text-4xl sm:text-5xl font-bold tracking-tight text-gray-800">
          {% if page.series %}
            <span class="block text-2xl sm:text-3xl font-semibold text-gray-500">{{ site.data.series[page.series].title }}</span>
            <span>{{ page.series_title | default: page.title }}</span>
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <aside class="flex items-center mt-4 sm:mt-8">
          <div>
            <div class="h-12 w-12 sm:h-20 sm:w-20 rounded-full bg-white/90 p-0.5 shadow-lg shadow-gray-800/5 ring-1 ring-gray-900/5 backdrop-blur">
              <a href="/" aria-label="Bagus Aji Santoso" title="Bagus Aji Santoso" class="block pointer-events-auto">
                <img src="/assets/images/bagus.webp" alt="Bagus Aji Santoso" class="rounded-full bg-gray-100 object-cover h-[11] w-[11] sm:h-[19] sm:w-[19]">
              </a>
            </div>
          </div>
          <div class="text-sm sm:text-base ml-4 leading-snug">
            <p class="text-sm sm:text-lg font-medium text-gray-900">
            <a href="/" class="hover:underline">Bagus Aji Santoso</a>
            </p>
            <div class="text-gray-500">
              <p>Full Stack Developer</p>
              <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </div>
          </div>
        </aside>
      </header>
      <div class="prose lg:prose-lg mt-8">
        {% include anchor_headings.html html=content anchorBody="#" anchorClass="text-gray-300 no-underline hover:text-gray-600 ml-0.5" %}
      </div>
    </article>

    <div id="disqus_thread" class="mt-10"></div>
  </div>

  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://bagusajicom.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
